.doc-management-container {
    margin: 20px;
}

.file-list {
    display: grid;
    grid-template-columns: 150px 80px 1fr 40px;
    align-items: center;
    p-button, & > span:nth-child(2) {
        justify-self: end;
    }
    p-treeselect {
        justify-self: center;
    }
}
