<div class="acct-management-container">
    <div class="flex gap-3 justify-content-end mb-3">
        <p-button label="Create" (click)="profileAction('Create')"></p-button>
        <p-button label="Update" (click)="profileAction('Update')"></p-button>
        <p-button label="Delete" (click)="onDelete"></p-button>
    </div>
    <div class="card">
        <p-table
            [value]="[accounts()]"
            [(selection)]="selectedUsers"
            dataKey="id"
            [tableStyle]="{'min-width': '50rem'}">
                <ng-template #header>
                    <tr>
                        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                        <th>Account ID</th>
                        <th>Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Email ID</th>
                        <th>Telephone</th>
                        <th>Created By</th>
                        <th>Updated By</th>
                        <th>Primary Contact</th>
                        <th>Secondary Contact</th>
                    </tr>
                </ng-template>
                <ng-template #body let-acct>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="acct" />
                        </td>
                        <td>{{acct.id}}</td>
                        <td>{{acct.name}}</td>
                        <td>{{acct.address1}}</td>
                        <td>{{acct.address2}}</td>
                        <td>{{acct.emailid}}</td>
                        <td>{{acct.phonenumber}}</td>
                        <td>{{acct.createdby}}</td>
                        <td>{{acct.updatedby}}</td>
                        <td>{{acct.primarycontact.userid}}</td>
                        <td>{{acct.secondarycontact.userid}}</td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage let-columns>
                    <div class="no-data">No Data Found</div>
                </ng-template>
        </p-table>
    </div>
</div>
<app-profile [action]="action()" (closed)="action.set('')"></app-profile>