:host ::ng-deep {
    p-menubar > div {
        & > p-menubarsub {
            width: 100%;
            & > ul {
                width: 100%;
                & > li:last-child {
                    margin-left: auto;
                    ul.p-menubar-submenu {
                        right: 0;
                    }
                }
            }
        }
    }
}

div.card {
    margin: 20px;
}