<p-dialog header="{{ action() }}" [modal]="true" [visible]="visible" (visibleChange)="onBtnClick('cancel')" [style]="{ width: '40rem' }">
    <span class="p-text-secondary block mb-4">{{ action() }} your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="firstname" class="font-semibold w-24">First Name</label>
        <input pInputText id="firstname" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="lastname" class="font-semibold w-24">Last Name</label>
        <input pInputText id="lastname" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="telephone" class="font-semibold w-24">Telephone</label>
        <input pInputText id="telephone" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="company" class="font-semibold w-24">Company</label>
        <input pInputText id="company" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onBtnClick('cancel')" />
        <p-button label="Save" (click)="onBtnClick('save')" />
    </div>
</p-dialog>