:host ::ng-deep {
    .p-accordionpanel {
        box-shadow: none;
    }

    .p-accordionheader {
        padding-inline: 0;
        &:hover {
            background: unset !important;
        }
    }

    .p-fileupload-header {
        padding: 0.5rem 1rem;
        button {
            height: 2.2rem;
        }
    }
}