:host ::ng-deep {
    p-card {
        .p-card {
            height: 100vh;
            .p-card-body {
                padding: 0;
            }
        }
    }
}

.show-spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}