<div class="user-management-container">
    <div class="flex gap-3 justify-content-end mb-3">
        <p-button label="Create" (click)="profileAction('Create')"></p-button>
        <p-button label="Update" (click)="profileAction('Update')"></p-button>
        <p-button label="Delete" (click)="onDelete(selectedUsers())"></p-button>
    </div>
    <div class="card">
        <p-table
            [value]="users() || []"
            [(selection)]="selectedUsers"
            dataKey="id"
            [tableStyle]="{'min-width': '50rem'}">
                <ng-template #header>
                    <tr>
                        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Email ID</th>
                        <th>Telephone</th>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Account ID</th>
                        <th>Role</th>
                    </tr>
                </ng-template>
                <ng-template #body let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user" />
                        </td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.address1}}</td>
                        <td>{{user.address2}}</td>
                        <td>{{user.emailid}}</td>
                        <td>{{user.phonenumber}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.userid}}</td>
                        <td>{{user.accountid}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage let-columns>
                    <div class="no-data">No Data Found</div>
                </ng-template>
        </p-table>
    </div>
</div>
<app-profile [action]="action()" from="subscriber" (closed)="action.set('');refreshTable$.next()"></app-profile>