/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-menubar-item-link-active {
    background: var(--p-menubar-item-focus-background);
    font-weight: bold;
    border: 1px solid var(--bs-card-border-color);
    border-radius: var(--p-button-border-radius);
}

.field-required::after {
    content: " *";
    color: red;
}

p-table {
    & > div {
        height: calc(100vh - 57.6px - 45.6px - 100px - 2px);
        overflow: auto;
        & > div {
            overflow: unset !important;
        }
        thead {
            position: sticky;
            top: 0;
            z-index: 4;
        }
        .no-data {
            position: absolute;
            width: 100%;
            height: calc(100% - 48.8px);
            display: grid;
            place-items: center;
            font-size: x-large;
            font-weight: bold;
        }
    }
}